<section class="archive">
  <h2>Archive</h2>
  <div class="archive-months">
    <h4>Browse By Date</h4>
    <ul>
      {% archive_months %}
        <li>
          <a href={{ month.url }}>{{ month.date }}</a>
          <span class="month-count">({{ month.count }})</span>
        </li>
      {% endarchive_months %}
    </ul>
    <div class="archive-all-dates">{{ archive.all_dates_link }}</div>
  </div>

  <div class="archive-results">
    {% form 'archive' %}
    <ul>
      {% archive_results %}
        <li class="archive-entry">
          <a href="{{ result.url }}">
            <span>{{ result.title }}</span>
          </a>
          <div class="search-highlight">
            {{ result.snippet }}
          </div>
          <div class="archive-date">
            {{ result.date }}
          </div>
        </li>
      {% endarchive_results %}
    </ul>

    <div class="archive-pagination">
      {{ archive.pagination }}
    </div>
  </div>
</section>
